# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## For Client directory
# dependencies
client/node_modules
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

## For Server directory

# dependencies
services/Social-v2.Clothes.UploadMediaApi/node_modules

#misc
.vs
.vscode

services/Social-v2.Clothes.UploadMediaApi/.env

client/src/pages/dashboard/ListProduct.js
services/Social-v2.Clothes.UploadMediaApi/.yarn

clients/Social-v2.Clothes.Admin/node_modules
clients/Social-v2.Clothes.Store/node_modules

services/ecommerce-service/.env
services/ecommerce-service/.yarn
services/Social-v2.Clothes.Api/.vs
services/Social-v2.Clothes.Api/Social-v2.Clothes.Api/bin
services/Social-v2.Clothes.Api/Social-v2.Clothes.Api/[Dd]ebug/
services/Social-v2.Clothes.Api/Social-v2.Clothes.Api/[Dd]ebugPublic/
services/Social-v2.Clothes.Api/Social-v2.Clothes.Api/[Rr]elease/
services/Social-v2.Clothes.Api/Social-v2.Clothes.Api/[Rr]eleases/

services/Social-v2.Clothes.Api/Social-v2.Clothes.Api/x64/
services/Social-v2.Clothes.Api/Social-v2.Clothes.Api/x86/
services/Social-v2.Clothes.Api/Social-v2.Clothes.Api/build/
services/Social-v2.Clothes.Api/Social-v2.Clothes.Api/bld/



.yarnrc.yml
.yarnrc
.yarn